/* this is the about css  */

.sticky {
    position: sticky;
    top: 120px;
}

.about-us {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 120px;
}

.about-us .container .row {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}

.about-us .container .row .about-col-1 {
    width: 70%;
}

.about-us .container .row .about-col-2 {
    width: 30%;
}

.about-us .container .row .about-col-1 h3 {
    font-size: 25px;
    margin: 30px 20px;
    text-transform: capitalize;
    font-weight: 300 900 !important;
    letter-spacing: 1px;
}

.about-us .container .row .about-col-1 p {
    font-size: 14px;
    margin: 30px 20px;
    text-transform: capitalize;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
    line-height: 1.8;
    word-spacing: 3px;
    color: #4b4a4a;
}

.about-us .container .about-heading h1 {
    font-size: 30px;
    font-weight: 600px;
    letter-spacing: 1px;
    margin: 40px 20px;
    position: relative;
}

.about-us .container .about-heading h1::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 6px;
    bottom: -30%;
    left: -1%;
    background-color: #00eec1;
}


/* col 2 */

.about-us .container .row .about-col-2 {
    padding: 20px;
}

.about-us .container .row .about-col-2 ul {
    width: 100%;
    margin-left: 20px;
}

.about-us .container .row .about-col-2 li {
    width: 85%;
    height: 50px;
    display: inline-block;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #00eec1;
    transition: 0.4s;
}

.about-us .container .row .about-col-2 li:hover {
    border-color: #eb0076 !important;
}

.about-us .container .row .about-col-2 li a {
    color: #000 !important;
}

.about-us .container .row .about-col-2 .about-heading-2 h3 {
    display: block;
    margin: 0;
    font-size: 20px;
    margin: 25px 0;
    margin-left: 20px;
    position: relative;
}

.about-us .container .row .about-col-2 li:nth-child(odd) {
    border-color: #7700eb;
    position: relative;
}

.about-shap-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
}


/* ordered list  */

.about-col-1 ol li {
    line-height: 2;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.about-col-1 ol li ul li {
    line-height: 1.5;
    font-size: 16px;
    margin: 10px 20px;
    letter-spacing: 0.5px;
}

center {
    margin: 30px 0;
    font-size: 20px;
}

span {
    color: #eb0076;
}


/* media query for about  */

@media (max-width: 1200px) {
    .about-us .container .row .about-col-1 h3 {
        font-size: 18px;
    }
    .about-us .container .row .about-col-1 p {
        font-size: 13.5px;
    }
    .container .about-heading h1 {
        font-size: 22px !important;
    }
    .container .about-heading h1::before {
        width: 106px !important;
        bottom: -40% !important;
    }
    /* col-2 */
    .about-us .container .row .about-col-2 ul li {
        width: 100%;
    }
    .about-us .container .row .about-col-2 ul li a {
        font-size: 15px;
    }
    center {
        margin: 30px 0;
        font-size: 16px;
    }
}

@media (max-width: 827px) {
    .about-us .container .about-heading {
        text-align: center !important;
    }
    .about-us .container .about-heading h1::before {
        content: '';
        position: absolute;
        width: 150px;
        height: 6px;
        bottom: -30%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00eec1;
    }
    .about-us .container .row div {
        width: 100% !important;
        text-align: center;
    }
    .about-us .container .row .about-col-2 ul {
        margin-left: 0px !important;
    }
    center {
        margin: 30px 0;
        font-size: 14px;
    }
    .about-heading-2 h3 {
        margin-left: 0px !important;
    }
}